#container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Cafe24Dangdanghae';
    overflow: hidden;
    z-index: 50;
    position: relative;
    background-color: #fff;
    @font-face {
        font-family: 'Cafe24Dangdanghae';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .section1{
        display: flex;
        width: 1200px;
        height: 100vh;
        align-items: center;
        .leftsec{
            width:600px;
            h1{
                font-size: 55px;
                letter-spacing: 2px;
                margin-bottom: 5px;
                color:#242e55;
            }
            h4{
                letter-spacing: 1px;
                margin-bottom: 5px;
                font-size: 18px;
                font-family: 'NEXON Lv1 Gothic OTF';
                @font-face {
                    font-family: 'NEXON Lv1 Gothic OTF';
                    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                    font-weight: normal;
                    font-style: normal;
                }
            }
            p{
                margin-top: 30px;
                position: relative;
                transition: all 0.3s;
                a{
                    transition: all 0.3s;
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 150px;
                    height: 40px;
                    font-size: 16px;
                    background-color:#ff5100;
                    color: #fff;
                    line-height: 40px;
                    text-align: center;
                    font-family: 'NEXON Lv1 Gothic OTF';
                    @font-face {
                        font-family: 'NEXON Lv1 Gothic OTF';
                        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                }
                &:hover{
                    a{
                        width:160px;
                    }
                }
            }
        }
        .rigthsec{
            width: 700px;
            .list{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                height: 600px;
                position: relative;
                .box{
                    width:45%;
                    height: 50%;
                    margin-right: 20px;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    position: relative;
                    background-color: rgb(247, 247, 247);
                    .center_img{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 70%;
                            height: 50%;
                        }
                    }
                    p{
                        position: absolute;
                        top:25%;
                        left:20%;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 10px;
                        color:#fff;
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-family: 'NEXON Lv1 Gothic OTF';
                        @font-face {
                            font-family: 'NEXON Lv1 Gothic OTF';
                            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &:nth-child(1) p{
                        background-color:#ff5100;
                        width: 100px;
                    }
                    &:nth-child(2) p{
                        background-color:#182041;
                        width: 100px;
                    }
                    &:nth-child(3) p{
                        background-color:#182041;
                        width: 150px;
                    }
                    &:nth-child(4) p{
                        background-color:#ff5100;
                        width: 100px;
                    }
                    &:nth-child(1) img{
                        width: 100%;
                    }
                }
                .center_box{
                    position: absolute;
                    top:50%;
                    left: 48.5%;
                    transform: translate(-50%,-50%);
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    backdrop-filter: blur(5px);
                    border: 7px solid #ff5100;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .bg_animation{
            position: relative;
            > div{
                position: absolute;
                border-radius: 50%;
            }
            .animation_1{
                width: 350px;
                height: 350px;
                background-color: #ff5100;
                right: -330px;
                bottom: -530px;
                animation: fadeInUp 2s infinite alternate;
            }
            .animation_2{
                width: 250px;
                height: 250px;
                background-color: rgba(2, 7, 21, 0.95);
                bottom: -620px;
                right: -200px;
                animation: fadeInUp5 1.5s infinite alternate;
            }
            .animation_3{
                width: 350px;
                height: 350px;
                background-color: rgba(2, 7, 21, 0.95);
                right: 1170px;
                bottom: -530px;
                animation: fadeInUp 2s infinite alternate;
            }
            .animation_4{
                width: 250px;
                height: 250px;
                background-color: #ff5100;
                bottom: -620px;
                right: 1100px;
                animation: fadeInUp5 1.5s infinite alternate;
            }
        }
    }
}


@media screen and (max-width:1024px) {
    #container{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100%;
        overflow: hidden;
        font-family: 'Cafe24Dangdanghae';
        @font-face {
            font-family: 'Cafe24Dangdanghae';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .section1{
            display: flex;
            justify-content: center;
            width: 1000px;
            .leftsec{
                width:400px;
                h1{
                    font-size: 35px;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                    color:#242e55;
                }
                h4{
                    font-family: 'NEXON Lv1 Gothic OTF';
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    @font-face {
                        font-family: 'NEXON Lv1 Gothic OTF';
                        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                }
                p{
                    margin-top: 30px;
                    position: relative;
                    transition: all 0.3s;
                    a{
                        transition: all 0.3s;
                        position: absolute;
                        left: 0;
                        display: block;
                        width: 150px;
                        height: 40px;
                        font-size: 16px;
                        background-color:#ff5100;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        font-family: 'NEXON Lv1 Gothic OTF';
                        @font-face {
                            font-family: 'NEXON Lv1 Gothic OTF';
                            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &:hover{
                        a{
                            width:160px;
                        }
                    }
                }
            }
            .rigthsec{
                width: 500px;
                .list{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 600px;
                    position: relative;
                    .box{
                        width:45%;
                        height: 45%;
                        margin-right: 20px;
                        border-radius: 20px;
                        overflow: hidden;
                        position: relative;
                        background-color: rgb(247, 247, 247);
                        .center_img{
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                max-width: 70%;
                                height: 50%;
                            }
                        }
                        p{
                            position: absolute;
                            top:25%;
                            left:20%;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 10px;
                            color:#fff;
                            font-size: 13px;
                            letter-spacing: 1px;
                            font-family: 'NEXON Lv1 Gothic OTF';
                            @font-face {
                                font-family: 'NEXON Lv1 Gothic OTF';
                                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                                font-weight: normal;
                                font-style: normal;
                            }
                        }
                        &:nth-child(1) p{
                            background-color:#ff5100;
                            width: 100px;
                        }
                        &:nth-child(2) p{
                            background-color:#182041;
                            width: 100px;
                        }
                        &:nth-child(3) p{
                            background-color:#182041;
                            width: 150px;
                        }
                        &:nth-child(4) p{
                            background-color:#ff5100;
                            width: 100px;
                        }
                    }
                    .center_box{
                        position: absolute;
                        top:50%;
                        left: 48.5%;
                        transform: translate(-50%,-50%);
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        backdrop-filter: blur(5px);
                        border: 7px solid #ff5100;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .bg_animation{
                position: relative;
                > div{
                    position: absolute;
                    border-radius: 50%;
                }
                .animation_1{
                    width: 350px;
                    height: 350px;
                    background-color: #ff5100;
                    right: -200px;
                    bottom: -620px;
                    animation: fadeInUp 2s infinite alternate;
                }
                .animation_2{
                    width: 250px;
                    height: 250px;
                    background-color: rgba(2, 7, 21, 0.95);
                    bottom: -620px;
                    right: 10px;
                    animation: fadeInUp5 1.5s infinite alternate;
                }
                .animation_3{
                    width: 350px;
                    height: 350px;
                    background-color: rgba(2, 7, 21, 0.95);
                    right: 730px;
                    bottom: -620px;
                    animation: fadeInUp 2s infinite alternate;
                }
                .animation_4{
                    width: 250px;
                    height: 250px;
                    background-color: #ff5100;
                    bottom: -620px;
                    right: 610px;
                    animation: fadeInUp5 1.5s infinite alternate;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    #container{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 1200px;
        overflow: hidden;
        font-family: 'Cafe24Dangdanghae';
        @font-face {
            font-family: 'Cafe24Dangdanghae';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .section1{
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            width: 768px;
            .leftsec{
                width:400px;
                h1{
                    font-size: 40px;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                    color:#242e55;
                }
                h4{
                    font-family: 'NEXON Lv1 Gothic OTF';
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    @font-face {
                        font-family: 'NEXON Lv1 Gothic OTF';
                        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                }
                p{
                    margin-top: 30px;
                    position: relative;
                    transition: all 0.3s;
                    a{
                        transition: all 0.3s;
                        position: absolute;
                        left: 0;
                        display: block;
                        width: 150px;
                        height: 40px;
                        font-size: 16px;
                        background-color:#ff5100;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        font-family: 'NEXON Lv1 Gothic OTF';
                        @font-face {
                            font-family: 'NEXON Lv1 Gothic OTF';
                            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &:hover{
                        a{
                            width:160px;
                        }
                    }
                }
            }
            .rigthsec{
                width: 100%;
                .list{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 500px;
                    position: relative;
                    .box{
                        width:40%;
                        height: 40%;
                        margin-right: 20px;
                        border-radius: 20px;
                        overflow: hidden;
                        position: relative;
                        background-color: rgb(247, 247, 247);
                        .center_img{
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                max-width: 70%;
                                height: 50%;
                            }
                        }
                        p{
                            position: absolute;
                            top:25%;
                            left:20%;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            border-radius: 10px;
                            color:#fff;
                            font-size: 13px;
                            letter-spacing: 1px;
                            font-family: 'NEXON Lv1 Gothic OTF';
                            @font-face {
                                font-family: 'NEXON Lv1 Gothic OTF';
                                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                                font-weight: normal;
                                font-style: normal;
                            }
                        }
                        &:nth-child(1) p{
                            background-color:#ff5100;
                            width: 100px;
                        }
                        &:nth-child(2) p{
                            background-color:#182041;
                            width: 100px;
                        }
                        &:nth-child(3) p{
                            background-color:#182041;
                            width: 150px;
                        }
                        &:nth-child(4) p{
                            background-color:#ff5100;
                            width: 100px;
                        }
                    }
                    .center_box{
                        position: absolute;
                        top:45%;
                        left: 48.5%;
                        transform: translate(-50%,-50%);
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        backdrop-filter: blur(5px);
                        border: 7px solid #ff5100;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .bg_animation{
                display: none;
            }
        }
    }
}
@media screen and (max-width:500px) {
    #container{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        font-family: 'Cafe24Dangdanghae';
        @font-face {
            font-family: 'Cafe24Dangdanghae';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .section1{
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            width: 768px;
            .leftsec{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width:100%;
                h1{
                    font-size: 32px;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                    color:#242e55;
                }
                h4{
                    font-family: 'NEXON Lv1 Gothic OTF';
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    @font-face {
                        font-family: 'NEXON Lv1 Gothic OTF';
                        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                }
                p{
                    width: 100%;
                    margin-top: 30px;
                    position: relative;
                    left: 30%;
                    transition: all 0.3s;
                    a{
                        transition: all 0.3s;
                        position: absolute;
                        left: 0;
                        display: block;
                        width: 150px;
                        height: 40px;
                        font-size: 16px;
                        background-color:#ff5100;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        font-family: 'NEXON Lv1 Gothic OTF';
                        @font-face {
                            font-family: 'NEXON Lv1 Gothic OTF';
                            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &:hover{
                        a{
                            width:160px;
                        }
                    }
                }
            }
            .rigthsec{
                width: 100%;
                .list{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 420px;
                    position: relative;
                    .box{
                        width:40%;
                        height: 40%;
                        margin-right: 0px;
                        border-radius: 20px;
                        overflow: hidden;
                        position: relative;
                        background-color: rgb(247, 247, 247);
                        .center_img{
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                max-width: 70%;
                                height: 50%;
                            }
                        }
                        p{
                            position: absolute;
                            top:20%;
                            left:10%;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            border-radius: 10px;
                            color:#fff;
                            font-size: 10px;
                            letter-spacing: 1px;
                            font-family: 'NEXON Lv1 Gothic OTF';
                            @font-face {
                                font-family: 'NEXON Lv1 Gothic OTF';
                                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                                font-weight: normal;
                                font-style: normal;
                            }
                        }
                        &:nth-child(1) p{
                            background-color:#ff5100;
                            width: 60px;
                        }
                        &:nth-child(2) p{
                            background-color:#182041;
                            width: 70px;
                        }
                        &:nth-child(3) p{
                            background-color:#182041;
                            width: 110px;
                        }
                        &:nth-child(4) p{
                            background-color:#ff5100;
                            width: 60px;
                        }
                    }
                    .center_box{
                        position: absolute;
                        top:45%;
                        left: 48.5%;
                        transform: translate(-50%,-50%);
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        backdrop-filter: blur(5px);
                        border: 7px solid #ff5100;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .bg_animation{
                display: none;
            }
        }
    }
}
@media screen and (max-width:320px) {
    #container{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        font-family: 'Cafe24Dangdanghae';
        @font-face {
            font-family: 'Cafe24Dangdanghae';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .section1{
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            width: 320px;
            .leftsec{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width:100%;
                h1{
                    font-size: 25px;
                    letter-spacing: 2px;
                    margin-bottom: 5px;
                    color:#242e55;
                }
                h4{
                    font-family: 'NEXON Lv1 Gothic OTF';
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    font-size: 12px;
                    @font-face {
                        font-family: 'NEXON Lv1 Gothic OTF';
                        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                        font-weight: normal;
                        font-style: normal;
                    }
                }
                p{
                    width: 100%;
                    margin-top: 30px;
                    position: relative;
                    left: 30%;
                    transition: all 0.3s;
                    a{
                        transition: all 0.3s;
                        position: absolute;
                        left: 0;
                        display: block;
                        width: 150px;
                        height: 40px;
                        font-size: 16px;
                        background-color:#ff5100;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        font-family: 'NEXON Lv1 Gothic OTF';
                        @font-face {
                            font-family: 'NEXON Lv1 Gothic OTF';
                            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &:hover{
                        a{
                            width:160px;
                        }
                    }
                }
            }
            .rigthsec{
                width: 100%;
                .list{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 420px;
                    position: relative;
                    .box{
                        width:40%;
                        height: 40%;
                        margin-right: 0px;
                        border-radius: 20px;
                        overflow: hidden;
                        position: relative;
                        background-color: rgb(247, 247, 247);
                        .center_img{
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                max-width: 70%;
                                height: 50%;
                            }
                        }
                        p{
                            position: absolute;
                            top:20%;
                            left:10%;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            border-radius: 10px;
                            color:#fff;
                            font-size: 10px;
                            letter-spacing: 1px;
                            font-family: 'NEXON Lv1 Gothic OTF';
                            @font-face {
                                font-family: 'NEXON Lv1 Gothic OTF';
                                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
                                font-weight: normal;
                                font-style: normal;
                            }
                        }
                        &:nth-child(1) p{
                            background-color:#ff5100;
                            width: 60px;
                        }
                        &:nth-child(2) p{
                            background-color:#182041;
                            width: 70px;
                        }
                        &:nth-child(3) p{
                            background-color:#182041;
                            width: 110px;
                        }
                        &:nth-child(4) p{
                            background-color:#ff5100;
                            width: 60px;
                        }
                    }
                    .center_box{
                        position: absolute;
                        top:45%;
                        left: 48.5%;
                        transform: translate(-50%,-50%);
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        backdrop-filter: blur(5px);
                        border: 7px solid #ff5100;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .bg_animation{
                display: none;
            }
        }
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0.5;
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
@keyframes fadeInUp5 {
    0% {
        opacity: 1;
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}