<div id="container4">
    <div class="main">
        <div class="top_content4">
            <div class="top_textbox1">
                <h1>국제 표준 규격을 준수하고,</h1>
                <h1>국내 최초 <a href="https://www.thetradedesk.com/us/about-us/industry-initiatives/unified-id-solution-2-0">UID 2.0</a> 적용</h1>
            </div>
            <div class="top_textbox2">
                <p>크로스 타겟은 국내 최초 <span>UID 2.0(Unified ID)</span> 를</p>
                <p>적용하여 글로벌 스탠다드를 준수합니다</p>
            </div>
        </div>
        <div class="bot_content4">
            <div class="bot_content4_list">
                <div class="boxs1">
                    <div class="content4_title">
                        <h1>OpenRTB</h1>
                    </div>
                    <div class="bot_textbox04">
                        <p>IAB 국제 표준 규격 Open RTB 규격↗ 준수 및</p>
                        <p><a href="https://www.privacy.go.kr/pic/faq.do">글로벌 개인 정보 보호법↗</a>을 준수 합니다</p>
                    </div>
                </div>
                <div class="boxs2">
                    <div class="content4_title">
                        <h1>UID 2.0</h1>
                    </div>
                    <div class="bot_textbox04">
                        <p>더 트레이드 데스크(The Trade Desk)의</p>
                        <p><a href="https://unifiedid.com/partners">새로운 광고 식별자↗</a> 를 적용하였습니다</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>