<div id="container3">
    <div class="main">
        <div class="top_content3">
            <h1>디스플레이 광고와 TV 광고,</h1>
            <h1><span>Self-Serve</span> 매체 운영까지</h1>
            <div class="top_textbox">
                <p>다양한 지면에 광고를 노출시켜 사용자의 관심을 이끌어내고</p>
                <p>브랜드의 인지도를 상승시킬 수 있습니다</p>
            </div>
        </div>
        <div class="bot_content3">
            <div class="con3_list">
                <div class="boxs">
                    <div class="cont3_imgbox">
                        <img src="/img/list2img1.png">
                    </div>
                    <div class="cont3_textbox">
                        <h1>디스플레이 광고</h1>
                        <p>모바일 디바이스에 최적화된 다양한</p>
                        <p>사이즈의 배너와 비디오 등의 폭넓은</p>
                        <p>콘텐츠 템플릿을 지원합니다</p>
                    </div>
                </div>
                <div class="boxs">
                    <div class="cont3_imgbox">
                        <img src="/img/list2img2.png">
                    </div>
                    <div class="cont3_textbox">
                        <h1>TV 광고</h1>
                        <p>모바일 행동 이력 기반 데이터를 이용하여</p>
                        <p>모바일에서 TV, TV에서 모바일로 크로스</p>
                        <p>디바이스 타겟팅을 제공합니다</p>
                    </div>
                </div>
                <div class="boxs">
                    <div class="cont3_imgbox">
                        <img src="/img/list2img3.png">
                    </div>
                    <div class="cont3_textbox">
                        <h1>5대 Big 매체 운영 대행</h1>
                        <p>크로스타겟이 보유한 온,오프라인 행동</p>
                        <p>데이터 활용 하여 글로벌 광고 플랫폼에도</p>
                        <p>적용해 타겟팅 광고를 하실 수 있습니다</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>