<div id="footer">
    <div class="main">
        <div class="top_fot">
            <h1>
                차원이 다른 마케팅 자동화,</br>
                크로스 타겟을 만날 순간
            </h1>
            <a href="#">문의하기</a>
        </div>
        <div class="bot_fot">
            <div class="footer_list">
                <div class="left_bot">
                    <h1 class="title">모티브인텔리전스</h1>
                    <div class="left_bot_textbox">
                        <h2>크로스타겟(Crosstarget)</h2>
                        <h2>서울시 강남구 테헤란로 132, 한독빌딩 13층</h2>
                        <h2>+82(0)2-568-5645 | crosstarget@motiv-i.com</h2>
                    </div>
                    <p>Ⓒ 2023 Motiv Intelligence</p>
                </div>
                <div class="right_bot">
                    <ul class="right_bot_gnb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Crosstarget</a></li>
                        <li><a href="#">Crosstarget Plus</a></li>
                        <li><a href="#">Crosstarget TV</a></li>
                        <li><a href="#">Smart Audience</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>