<div id="header">
    <div class="main">
        <div class="gnb">
            <div class="left_logo">
                <img src="/img/ctLogo.svg">
            </div>
            <div class="center_menu">
                <ul class="menu">
                    <li><a href="#">Cross<span>Target</span></a></li>
                    <li><a href="#">Cross<span>Target</span> Plus</a></li>
                    <li><a href="#">Cross<span>Target</span> Tv</a></li>
                    <li><a href="#">Smart Audience</a></li>
                </ul>
            </div>
            <div class="rigth_menu">
                <ul class="sub_menu">
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact US</a></li>
                </ul>
            </div>
        </div>
        <div class="mo_logo">
            <img src="/img/ctLogo.svg">
        </div>
        <div class="mo_hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="mo_gnb_on">
            <div class="left_logo">
                <img src="/img/ctLogo.svg">
            </div>
            <div class="center_menu">
                <ul class="menu">
                    <li><a href="#">Cross<span>Target</span></a></li>
                    <li><a href="#">Cross<span>Target</span> Plus</a></li>
                    <li><a href="#">Cross<span>Target</span> Tv</a></li>
                    <li><a href="#">Smart Audience</a></li>
                </ul>
            </div>
            <div class="rigth_menu">
                <ul class="sub_menu">
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact US</a></li>
                </ul>
            </div>
            <div class="mo_close">
                <a href="#">닫기</a>
            </div>
        </div>
    </div>
</div>